* {
    padding: 0;
    margin: 0;
}
footer {
    background-color: #060512;
    text-align: center;
}

footer p {
    color: #fff;
    margin-bottom: 20px;
}

.my-social-networks {
    margin-bottom: 10px;
}

.git, .linkedin, .whatsapp {
    color: #fff;
    font-size: 25px;
    cursor: pointer;
}

.git:hover {
    color: #00ffff;
}

.linkedin:hover {
    color: #00ffff;
}

.whatsapp:hover {
    color: #00ffff;
}

.linkedin {
    margin: 0 30px;
}
